@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../font/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../font/fonts/Satoshi-Regular.woff') format('woff'),
         url('../font/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../font/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../font/fonts/Satoshi-Bold.woff') format('woff'),
         url('../font/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

.voiture{
    position: relative;
    bottom: 20px;
    right: 10px;
}

.sessionNotActive{
    position: absolute;
    right: 35px;
    bottom: 200px;
    font-size: 23px;
    color: white;
    font-family: 'Satoshi-Bold';
}

.btn{
    display: block;
    position: absolute;
    height: 50px;
    width: 200px;
    right: 275px;
    bottom: 240px;
    text-align: center;
    font-family: 'Satoshi-Bold';
    font-size: 24px;
    color: white;
    background-color: #5054E0;
    border: none;
    border-radius: 12px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.Btndeconnex{
    margin-left: 20px;
    background-color: #5054E0;
    font-family: 'Satoshi-Bold';
    font-size: 24px;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin-left: 20px;
}
.Btndeconnex:hover{
    background-color: #8d90f0;
}

.bandeauBleu{
    display: flex;
    justify-content: flex-start;
    background: rgb(183,200,215);
    background: linear-gradient(179deg, #585CCA 0%, #96D9C8 130%);
    min-width: 1300px;
}

.publierBarre{
    position: relative;
    display: flex;
    height: 70px;
    right: 35px;
    top: 180px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.publierBarre_select{
    display: flex;
    position: relative;
    border: none;
    outline: none;
    font-size: 24px;
    color: #848488;
}

.publierBarre_select--villeDepart{
    padding-left: 20px;
    font-family: 'Satoshi-Regular';
    font-size: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../Images/marker-home.png);
    background-repeat: no-repeat;
    background-position: 130px, 0px, 0px, 0px;
    background-size: 35px;
    border-radius: 10px 0px 0px 10px;
    width: 180px;
}

.publierBarre_select--villeDepart--option{
    display: block;
    position: relative;
}

.switchButton{
    width: 65px;
}

.switchPicture{
    height: 30px ;
    -moz-transition: -webkit-transform .8s ease-in-out;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}


.publierBarre_select--villeArrivee{
    padding-left: 20px;
    font-family: 'Satoshi-Regular';
    font-size: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../Images/marker.png");
    background-repeat: no-repeat;
    background-position: 130px, 0px, 0px, 0px;
    background-size: 35px;
    width: 180px;
}

.publierBarre_input{
    display: flex;
    position: relative;
    border: none;
    outline: none;
    font-size: 24px;
    color: #848488;
}

.publierBarre_input--calendrier{
    font-family: 'Satoshi-Regular';
    width: 160px;
    font-size: 20px;
    padding-left: 20px;
}

.publierBarre_input--number{
    font-family: 'Satoshi-Regular';
    background-image: url(../Images/portrait.png);
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 41px, 0px, 0px, 0px;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    font-size: 30px;
    padding-left: 17px;
}

.publierBarre_input--number[type=number] ::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.publier{
    font-family: 'Satoshi-Regular';
    font-size: 30px;
    color: white;
}
