@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../font/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../font/fonts/Satoshi-Regular.woff') format('woff'),
         url('../font/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../font/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../font/fonts/Satoshi-Bold.woff') format('woff'),
       url('../font/fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

.footer{
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(179deg, #585CCA 0%, #96D9C8 130%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 1300px;
    height: 220px;
}

.footerLogo{
    position: relative;
    height: 195px;
    width: 170px;
    left: 55px;
    top: 20px;
}

.allboiteFooter{
    bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5px;
}

.boiteFooter{
    position: relative;
    left: 125px;
    margin-right: 100px;
}

.boiteFooter-Title{
    font-family: 'Satoshi-Bold';
    color: white;
    font-size: 30px;
}

.boiteFooter-Content{
    font-family: 'Satoshi-Regular';
    color: white;
    
}

.instagram{
    position: relative;
    width: 71px;
    right: 18px;
    bottom: 30px;
}

.twitter{
    position: relative;
    height: 66px;
    width: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: -35px;
}

.facebook{
    position: relative;
    height: 55px;
    width: 48px;
    left: -135px;
    right: 6px;
    bottom: 0;
    top: 30px;
}

.tiktok{
    position: relative;
    height: 54px;
    width: 68px;
    left: -118px;
    right: 0px;
    bottom: 0px;
    top: 30px;
} 